@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');


*, body {
    font-family: poppins, sans-serif;
}

.judulGaleri {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.everyonestyle:hover {
    color: red;
    transition: all .6s;
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
    -ms-transition: all .6s;
    -o-transition: all .6s;
}

.animasiwarnatitle {
    animation-name: animasititle;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes animasititle {
    0% {color: red;}
    100% {color:purple;}
}

:root  {
    --primary-color: #B6E388;
    --secondary-color: #000000;
    --three-color: #99df58;
    --four-color: #000000;
    --five-color: #c0e999;
}

.buatlightmode {
    background-color: rgb(46, 45, 45);
}

#darkmodee {
    --primary-color: #000000;
    --secondary-color: #EDEDED;
    --three-color: #000000;
    --four-color: #fafafa;
    --five-color: #fafafa;
}